@import "lib/variables/_responsive.less";
@import "lib/_responsive.less";

@indent__standart: @indent__xs + @indent__s; //15px

@todo_link_action__text_decoration: none;
@todo_link_action__color: #3a8565;

@todo_item_li__border: 1px solid #dcdcdc;
@todo_item_li__border_radius: 16px;
@todo_item_li__background_color: @color-white;
@todo_item_li__margin-right: @indent__base;

@todo_items_top_description_background_color: #e6e4e4;
@todo_items_top_description_padding: @indent__standart @indent__standart @indent__xl @indent__standart;
@todo_items_top_description_border_radius: @todo_item_li__border_radius;

@todo_items_top_description_h2__margin: 0 0 8px 0;
@todo_items_top_description_h2__color: @todo_link_action__color;
@todo_items_top_description_h2__font_weight: 400;

@todo_items_description__color: #737373;

@todo_items_bottom_section__color: #ff914d;


& when (@media-common = true) {
    .todo-wrapper {
        a, .action {
            text-decoration: @todo_link_action__text_decoration;
            color: @todo_link_action__color;
        }

        .btn-toolbar {
            margin: 15px 15px 15px 0px;

            .btn-secondary {
                .lib-css(background-color, @color-black_dark);
                .lib-css(color, @color-white);
                padding: @indent__standart;
                text-transform: uppercase;
            }
        }
    }

    #todo-items {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0;

        li {
            border: @todo_item_li__border;
            border-radius: @todo_item_li__border_radius;
            .lib-css(background-color, @todo_item_li__background_color);
            margin-right: @todo_item_li__margin-right;

            .top-description {
                background-color: @todo_items_top_description_background_color;
                padding: @todo_items_top_description_padding;
                border-radius: @todo_items_top_description_border_radius;
                min-height: 116px;
                position: relative;

                & > h2 {
                    margin: @todo_items_top_description_h2__margin;
                    color: @todo_items_top_description_h2__color;
                    font-weight: @todo_items_top_description_h2__font_weight;
                }

                .description {
                    color: @todo_items_description__color;
                }

                .bottom-section-wrapper {
                    position: absolute;
                    bottom: 10px;
                    width: 90%;
                }

                .bottom-section {
                    .lib-vendor-prefix-display();
                    .lib-vendor-prefix-flex-direction(row);
                    .lib-vendor-prefix-flex-wrap(wrap);
                    justify-content: space-between;
                    .lib-css(color, @todo_items_bottom_section__color);
                    margin-top: 20px;
                }
            }

            .bottom-description {
                padding: 15px;

                .action-toolbar {
                    display: flex;
                    .lib-vendor-prefix-flex-direction(row);
                    .lib-vendor-prefix-flex-wrap(wrap);
                    justify-content: space-between;
                    align-content: center;
                    margin-bottom: 1rem;

                    p {
                        margin: 0;
                    }
                }

                & > a.action {
                    display: block;
                    text-align: center;
                }
            }
        }
    }

    .progress-indicator {
        width: 100%;
        .lib-css(background-color, #d9d9d9);
        margin: 10px 0;
        border-radius: 6px;
        position: relative;

        .bar {
            width: 1%;
            height: 18px;
            .lib-css(background-color, #38b6ff);
            transition: all 300ms;
            .lib-css(border-radius, 6px);

            .progress-text {
                position: absolute;
                left: 46%;
                top: -1px;
                .lib-css(color, #141313);
            }
        }
    }

    .todo-action {
        .action {
            display: block;
            text-decoration: none;
            margin: 0 5px;

            &.edit, &.delete {
                .lib-icon-font(
                    @icon-settings,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 18px,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: @color-gray19,
                    @_icon-font-color-hover: @color-gray19,
                    @_icon-font-color-active: @color-gray19
                );
            }

            &.delete {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-trash
                )
            }
        }
    }

    .action {
        &.view-this-task {
            .lib-icon-font(
                @icon-search,
                @_icon-font-size: 18px,
                @_icon-font-line-height: 18px,
                @_icon-font-text-hide: false,
                @_icon-font-color: #3a8565,
                @_icon-font-color-hover: #319369,
                @_icon-font-color-active: #319369
            );
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ml) {
    #todo-items {
        li {
            width: 23%;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ml) {
    #todo-items {
        li {
            width: 260px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    #todo-items {
        li {
            width: 100%;
        }
    }
}
