<label>
    <input data-bind="attr: {
        type: 'checkbox',
        value: 'task-' + id
    }, checked: status, click: function() {
        this.status(status() ? 1 : 0); $parent._setActiveTasks($parent.activeParentId()); return true;
    }">
    <span data-bind="text: title()"></span>
</label>

<a href="#" data-bind="click: function() { $parent.editTask(this, $parent); }"><span data-bind="text: 'Edit'"></span></a>
<a href="#" data-bind="click: function() { $parent.deleteTaskItem(this, $parent); }"><span data-bind="text: 'Delete'"></span></a>
