<div id="view-task-popup" class="todo-action" data-bind="fadeVisible: isVisible()">
    <div class="tasks" data-bind="fadeVisible: !isFormVisible()">
        <div class="tasks-list">
            <div class="tasks-to-do">
                <h3><span data-bind="text: 'To dos'"></span><span data-bind="text: '( ' + pendingTasks().length + ' )'"></span></h3>
                <ul data-bind="foreach: pendingTasks">
                    <li render="$parent.taskListTemplate"></li>
                </ul>
                <if args="!pendingTasks().length">
                    <div class="message success">
                        <span data-bind="text: 'There are no tasks in list.'"></span>
                    </div>
                </if>
                <if args="pendingTasks().length || completedTasks().length">
                    <div class="completed-tasks-wrapper">
                        <h3><span data-bind="text: 'Completed tasks'"></span><span data-bind="text: '( ' + completedTasks().length + ' )'"></span></h3>
                        <div class="completed-tasks" data-bind="fadeVisible: completedTasks().length">
                            <ul data-bind="foreach: completedTasks">
                                <li render="$parent.taskListTemplate"></li>
                            </ul>
                        </div>
                        <div class="message info" data-bind="fadeVisible: !completedTasks().length">
                            <span data-bind="text: 'There are no completed tasks in list so far.'"></span>
                        </div>
                    </div>
                </if>
            </div>
        </div>
        <div class="new-task-form">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="action primary task-action" data-bind="attr: { type: 'button' }, click: createNewTask">
                        <span data-bind="text: 'New task'"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="task-form block-content" data-bind="fadeVisible: isFormVisible()">
        <form class="form" id="task-form" data-bind="submit: saveTask">
            <fieldset class="fieldset taks" data-bind="attr: { 'data-hasrequired': '* Required fields' }">
                <each args="getRegion('task-form')" render=""></each>
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button class="action btn-link" data-bind="attr: { type: 'button' }, click: function() { isFormVisible(false); }">
                            <span data-bind="text: 'Cancel'"></span>
                        </button>
                        <button class="action primary" data-bind="attr: { type: 'button' }, click: saveTask">
                            <span data-bind="text: 'Save'"></span>
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
